{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.money.orki.io"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/plants": {
      "get": {
        "description": "Returns all plants from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/transactions/{transaction_id}": {
      "get": {
        "summary": "Show Transaction by Merchant.",
        "operationId": "showTransactionByMerchant",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "transaction",
            "description": "The transaction ID.",
            "example": "01jwmf9s2dmmtbq048xh94xxza",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The transaction ID.",
              "example": "01jwmf9s2dmmtbq048xh94xxza",
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "msg": "Transaction fetched successfully",
                    "data": {
                      "id": "01jwm8tchegxy37f12jck7b0bx",
                      "provider_tx_id": "cos_1RUyHbQRBKAgk6f06LOvXqFU",
                      "type": "BUY",
                      "sender_address": null,
                      "recipient_address": "0x5f661d0e61d3F79DA6605AB6173453084599c5aC",
                      "exchange_rate": "239.200000",
                      "transaction_hash": "random_hash_here",
                      "provider_fee": "60.600000",
                      "orki_fee": null,
                      "network_fee": "0.050000",
                      "fiat_amount": 400,
                      "crypto_amount": 1500,
                      "fiat_currency": "USD",
                      "crypto_currency": "eth",
                      "network": "ethereum",
                      "payment_method": "credit_debit_card",
                      "status": "success",
                      "provider": "stripe",
                      "created_at": "2025-05-31T22:53:51.000000Z",
                      "processed_at": "2025-06-01T23:50:50.000000Z"
                    },
                    "success": true,
                    "code": 200
                  },
                  "properties": {
                    "msg": {
                      "type": "string",
                      "example": "Transaction fetched successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "01jwm8tchegxy37f12jck7b0bx"
                        },
                        "provider_tx_id": {
                          "type": "string",
                          "example": "cos_1RUyHbQRBKAgk6f06LOvXqFU"
                        },
                        "type": {
                          "type": "string",
                          "example": "BUY"
                        },
                        "sender_address": {
                          "type": "string",
                          "example": null
                        },
                        "recipient_address": {
                          "type": "string",
                          "example": "0x5f661d0e61d3F79DA6605AB6173453084599c5aC"
                        },
                        "exchange_rate": {
                          "type": "string",
                          "example": "239.200000"
                        },
                        "transaction_hash": {
                          "type": "string",
                          "example": "random_hash_here"
                        },
                        "provider_fee": {
                          "type": "string",
                          "example": "60.600000"
                        },
                        "orki_fee": {
                          "type": "string",
                          "example": null
                        },
                        "network_fee": {
                          "type": "string",
                          "example": "0.050000"
                        },
                        "fiat_amount": {
                          "type": "integer",
                          "example": 400
                        },
                        "crypto_amount": {
                          "type": "integer",
                          "example": 1500
                        },
                        "fiat_currency": {
                          "type": "string",
                          "example": "USD"
                        },
                        "crypto_currency": {
                          "type": "string",
                          "example": "eth"
                        },
                        "network": {
                          "type": "string",
                          "example": "ethereum"
                        },
                        "payment_method": {
                          "type": "string",
                          "example": "credit_debit_card"
                        },
                        "status": {
                          "type": "string",
                          "example": "success"
                        },
                        "provider": {
                          "type": "string",
                          "example": "stripe"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2025-05-31T22:53:51.000000Z"
                        },
                        "processed_at": {
                          "type": "string",
                          "example": "2025-06-01T23:50:50.000000Z"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Merchant"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "transaction_id",
          "description": "The ID of the transaction.",
          "example": "01jwm8tchegxy37f12jck7b0bx",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/v1/merchant/transactions": {
      "get": {
        "summary": "Show Transactions by Merchant.",
        "operationId": "showTransactionsByMerchant",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number.",
            "example": 1,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number.",
              "example": 1,
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page.",
            "example": 5,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Number of items per page.",
              "example": 5,
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "msg": "Success",
                    "data": {
                      "transactions": [
                        {
                          "id": "01jwm8tchegxy37f12jck7b0bx",
                          "provider_tx_id": "cos_1RUyHbQRBKAgk6f06LOvXqFU",
                          "type": "BUY",
                          "sender_address": null,
                          "recipient_address": "0x5f661d0e61d3F79DA6605AB6173453084599c5aC",
                          "exchange_rate": "239.200000",
                          "transaction_hash": "random_hash_here",
                          "provider_fee": "60.600000",
                          "orki_fee": null,
                          "network_fee": "0.050000",
                          "fiat_amount": 400,
                          "crypto_amount": 1500,
                          "fiat_currency": "USD",
                          "crypto_currency": "eth",
                          "network": "ethereum",
                          "payment_method": "credit_debit_card",
                          "status": "success",
                          "provider": "stripe",
                          "created_at": "2025-05-31T22:53:51.000000Z",
                          "processed_at": "2025-06-01T23:50:50.000000Z"
                        },
                        {
                          "id": "01jwmf9s2dmmtbq048xh94xxza",
                          "provider_tx_id": "682d90414984372d417a43ee",
                          "type": "BUY",
                          "sender_address": null,
                          "recipient_address": "UQB9tSE4jidlpbote0-hFXddpXi6PWYUL2JfrrVMJjcw0hrb",
                          "exchange_rate": "1618.120000",
                          "transaction_hash": "6e9b376b9b8f6e1648e9b897e3fab31563ec5438c5d53d774c09061357d34677",
                          "provider_fee": null,
                          "orki_fee": null,
                          "network_fee": null,
                          "fiat_amount": 40000,
                          "crypto_amount": 18.54,
                          "fiat_currency": "NGN",
                          "crypto_currency": "usdt",
                          "network": "ton",
                          "payment_method": "bank_transfer",
                          "status": "success",
                          "provider": "fonbnk",
                          "created_at": "2025-06-01T00:47:07.000000Z",
                          "processed_at": "2025-06-21T08:36:51.000000Z"
                        }
                      ],
                      "meta": {
                        "total": 9,
                        "perPage": 2,
                        "currentPage": 1,
                        "lastPage": 5,
                        "firstPage": 1,
                        "firstPageUrl": "https://money.orki.test/api/v1/merchant/transactions?page=1",
                        "lastPageUrl": "https://money.orki.test/api/v1/merchant/transactions?page=5",
                        "nextPageUrl": "https://money.orki.test/api/v1/merchant/transactions?page=2",
                        "previousPageUrl": null
                      }
                    },
                    "success": true,
                    "code": 200
                  },
                  "properties": {
                    "msg": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transactions": {
                          "type": "array",
                          "example": [
                            {
                              "id": "01jwm8tchegxy37f12jck7b0bx",
                              "provider_tx_id": "cos_1RUyHbQRBKAgk6f06LOvXqFU",
                              "type": "BUY",
                              "sender_address": null,
                              "recipient_address": "0x5f661d0e61d3F79DA6605AB6173453084599c5aC",
                              "exchange_rate": "239.200000",
                              "transaction_hash": "random_hash_here",
                              "provider_fee": "60.600000",
                              "orki_fee": null,
                              "network_fee": "0.050000",
                              "fiat_amount": 400,
                              "crypto_amount": 1500,
                              "fiat_currency": "USD",
                              "crypto_currency": "eth",
                              "network": "ethereum",
                              "payment_method": "credit_debit_card",
                              "status": "success",
                              "provider": "stripe",
                              "created_at": "2025-05-31T22:53:51.000000Z",
                              "processed_at": "2025-06-01T23:50:50.000000Z"
                            },
                            {
                              "id": "01jwmf9s2dmmtbq048xh94xxza",
                              "provider_tx_id": "682d90414984372d417a43ee",
                              "type": "BUY",
                              "sender_address": null,
                              "recipient_address": "UQB9tSE4jidlpbote0-hFXddpXi6PWYUL2JfrrVMJjcw0hrb",
                              "exchange_rate": "1618.120000",
                              "transaction_hash": "6e9b376b9b8f6e1648e9b897e3fab31563ec5438c5d53d774c09061357d34677",
                              "provider_fee": null,
                              "orki_fee": null,
                              "network_fee": null,
                              "fiat_amount": 40000,
                              "crypto_amount": 18.54,
                              "fiat_currency": "NGN",
                              "crypto_currency": "usdt",
                              "network": "ton",
                              "payment_method": "bank_transfer",
                              "status": "success",
                              "provider": "fonbnk",
                              "created_at": "2025-06-01T00:47:07.000000Z",
                              "processed_at": "2025-06-21T08:36:51.000000Z"
                            }
                          ],
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "01jwm8tchegxy37f12jck7b0bx"
                              },
                              "provider_tx_id": {
                                "type": "string",
                                "example": "cos_1RUyHbQRBKAgk6f06LOvXqFU"
                              },
                              "type": {
                                "type": "string",
                                "example": "BUY"
                              },
                              "sender_address": {
                                "type": "string",
                                "example": null
                              },
                              "recipient_address": {
                                "type": "string",
                                "example": "0x5f661d0e61d3F79DA6605AB6173453084599c5aC"
                              },
                              "exchange_rate": {
                                "type": "string",
                                "example": "239.200000"
                              },
                              "transaction_hash": {
                                "type": "string",
                                "example": "random_hash_here"
                              },
                              "provider_fee": {
                                "type": "string",
                                "example": "60.600000"
                              },
                              "orki_fee": {
                                "type": "string",
                                "example": null
                              },
                              "network_fee": {
                                "type": "string",
                                "example": "0.050000"
                              },
                              "fiat_amount": {
                                "type": "integer",
                                "example": 400
                              },
                              "crypto_amount": {
                                "type": "integer",
                                "example": 1500
                              },
                              "fiat_currency": {
                                "type": "string",
                                "example": "USD"
                              },
                              "crypto_currency": {
                                "type": "string",
                                "example": "eth"
                              },
                              "network": {
                                "type": "string",
                                "example": "ethereum"
                              },
                              "payment_method": {
                                "type": "string",
                                "example": "credit_debit_card"
                              },
                              "status": {
                                "type": "string",
                                "example": "success"
                              },
                              "provider": {
                                "type": "string",
                                "example": "stripe"
                              },
                              "created_at": {
                                "type": "string",
                                "example": "2025-05-31T22:53:51.000000Z"
                              },
                              "processed_at": {
                                "type": "string",
                                "example": "2025-06-01T23:50:50.000000Z"
                              }
                            }
                          }
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer",
                              "example": 9
                            },
                            "perPage": {
                              "type": "integer",
                              "example": 2
                            },
                            "currentPage": {
                              "type": "integer",
                              "example": 1
                            },
                            "lastPage": {
                              "type": "integer",
                              "example": 5
                            },
                            "firstPage": {
                              "type": "integer",
                              "example": 1
                            },
                            "firstPageUrl": {
                              "type": "string",
                              "example": "https://money.orki.test/api/v1/merchant/transactions?page=1"
                            },
                            "lastPageUrl": {
                              "type": "string",
                              "example": "https://money.orki.test/api/v1/merchant/transactions?page=5"
                            },
                            "nextPageUrl": {
                              "type": "string",
                              "example": "https://money.orki.test/api/v1/merchant/transactions?page=2"
                            },
                            "previousPageUrl": {
                              "type": "string",
                              "example": null
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Merchant"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer",
                    "description": "Must be at least 1.",
                    "example": 7,
                    "nullable": false
                  },
                  "per_page": {
                    "type": "integer",
                    "description": "Must be at least 1. Must not be greater than 100.",
                    "example": 9,
                    "nullable": false
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/fiat-currencies": {
      "get": {
        "summary": "",
        "operationId": "getApiV1MerchantFiatCurrencies",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "description": "The type of fiat currencies",
            "example": "SELL",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The type of fiat currencies",
              "example": "SELL",
              "nullable": false,
              "enum": [
                "BUY",
                "SELL"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "{\n  \"msg\": \"Success\",\n  \"data\": [\n    {\n      \"code\": \"EUR\",\n      \"name\": \"Euro\",\n      \"logoSymbol\": \"EU\",\n      \"logo\": \"<svg xmlns=\\\"http://www.w3.org/2000/svg\\\" xmlns:xlink=\\\"http://www.w3.org/1999/xlink\\\" viewBox=\\\"0 0 810 540\\\">...</svg>\",\n      \"minAmount\": 10\n    },\n ...\n  ]\n}"
                }
              }
            }
          }
        },
        "tags": [
          "Quotes API"
        ]
      }
    },
    "/api/v1/merchant/crypto-currencies": {
      "get": {
        "summary": "",
        "operationId": "getApiV1MerchantCryptoCurrencies",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "description": "The type of crypto currencies",
            "example": "BUY",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The type of crypto currencies",
              "example": "BUY",
              "nullable": false,
              "enum": [
                "BUY",
                "SELL"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "{\n  \"msg\": \"Success\",\n  \"data\": [\n    {\n      \"code\": \"eth\",\n      \"network\": \"ethereum\",\n      \"name\": \"Ethereum\",\n      \"crypto_icon\": \"https://assets-stg.transak.com/images/cryptoCurrency/ethereum_small.png\",\n    },\n ...\n]"
                }
              }
            }
          }
        },
        "tags": [
          "Quotes API"
        ]
      }
    },
    "/api/v1/merchant/payment-methods": {
      "get": {
        "summary": "",
        "operationId": "getApiV1MerchantPaymentMethods",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "fiat",
            "description": "the fiat",
            "example": "et",
            "required": true,
            "schema": {
              "type": "string",
              "description": "the fiat",
              "example": "et",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "type",
            "description": "the trade type.",
            "example": "SELL",
            "required": false,
            "schema": {
              "type": "string",
              "description": "the trade type.",
              "example": "SELL",
              "nullable": false,
              "enum": [
                "BUY",
                "SELL"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "{\n    \"msg\": \"Success\",\n    \"data\": {\n        \"payment_methods\": [\n            {\n                \"orki_id\": \"sepa_bank_transfer\",\n                \"logo\": \"https://d31sk3i6y53c7h.cloudfront.net/assets/payment-methods/sepa_instant.svg\",\n                \"name\": \"SEPA Bank Transfer\",\n                \"tagline\": \"European Bank Transfers\"\n            },\n            {\n                \"orki_id\": \"credit_debit_card\",\n                \"logo\": \"https://d31sk3i6y53c7h.cloudfront.net/assets/payment-methods/card.svg\",\n                \"name\": \"Card Payment\",\n                \"tagline\": \"Visa, MasterCard, etc.\"\n            },\n            ...\n        ],\n        \"recommended\": \"credit_debit_card\"\n    },\n    \"success\": true,\n    \"code\": 200\n}"
                }
              }
            }
          }
        },
        "tags": [
          "Quotes API"
        ]
      }
    },
    "/api/v1/merchant/quotes/sell": {
      "post": {
        "summary": "",
        "operationId": "postApiV1MerchantQuotesSell",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-ORKI-API-KEY",
            "description": "",
            "example": "string required The API key for authentication.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "{\n   \"msg\": \"success\",\n   \"data\": {\n     \"request_id\": \"22474420-f94b-44b0-883f-5c42e4c735cb\",\n     \"quotes\": [\n       {\n         \"provider\": {\n           \"name\": \"Guardarian\",\n           \"identifier\": \"guardarian\",\n           \"icon\": \"https://d31sk3i6y53c7h.cloudfront.net/assets/providers/guardarian.svg\"\n         },\n         \"exchange_rate\": 93023.26,\n         \"is_best\": true,\n         \"asset\": {\n           \"fiat\": \"CHF\",\n           \"fiat_amount\": 350,\n           \"crypto\": \"BTC\",\n           \"network\": \"BTC\",\n           \"crypto_amount\": 0.0037606,\n           \"payment_method\": \"credit_debit_card\"\n         },\n         \"quote_amount\": 0.0037606,\n         \"link\": \"https://payments.guardarian.com?api_key=032bd046-d5b9-436a-b5f5-fb3e7efd8786&from_currency=CHF&to_currency=BTC&to_network=BTC&payment_category=VISA_MC&from_amount=350&redirects_successful=https%3A%2F%2Forki-money.vercel.app&redirects_failed=https%3A%2F%2Forki-money.vercel.app&redirects_cancelled=https%3A%2F%2Forki-money.vercel.app\",\n         \"is_supported\": true,\n         \"widget\": null,\n         \"percentage_diff\": 0\n       },\n       {\n         \"provider\": {\n           \"name\": \"Coinify\",\n           \"identifier\": \"coinify\",\n           \"icon\": \"https://d31sk3i6y53c7h.cloudfront.net/assets/providers/coinify.svg\"\n         },\n         \"exchange_rate\": 93085.11,\n         \"is_best\": false,\n         \"asset\": {\n           \"fiat\": \"CHF\",\n           \"fiat_amount\": 350,\n           \"crypto\": \"BTC\",\n           \"network\": \"mainnet\",\n           \"crypto_amount\": 0.00376,\n           \"payment_method\": \"card\"\n         },\n         ...\n     ]\n   },\n   \"success\": true,\n   \"code\": 200\n }"
                }
              }
            }
          }
        },
        "tags": [
          "Quotes API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fiat_currency": {
                    "type": "string",
                    "description": "The fiat currency.",
                    "example": "EUR",
                    "nullable": false
                  },
                  "crypto_currency": {
                    "type": "string",
                    "description": "The cryptocurrency.",
                    "example": "BTC",
                    "nullable": false
                  },
                  "crypto_amount": {
                    "type": "number",
                    "description": "The amount.",
                    "example": 0.0021,
                    "nullable": false
                  },
                  "network": {
                    "type": "string",
                    "description": "The network.",
                    "example": "mainnet",
                    "nullable": false
                  },
                  "payment_method": {
                    "type": "string",
                    "description": "The payment method.",
                    "example": "credit_debit_card",
                    "nullable": false
                  }
                },
                "required": [
                  "fiat_currency",
                  "crypto_currency",
                  "crypto_amount",
                  "network",
                  "payment_method"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/quotes/buy": {
      "post": {
        "summary": "",
        "operationId": "postApiV1MerchantQuotesBuy",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-ORKI-API-KEY",
            "description": "",
            "example": "string required The API key for authentication.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "{\n  \"msg\": \"success\",\n  \"data\": {\n    \"request_id\": \"22474420-f94b-44b0-883f-5c42e4c735cb\",\n    \"quotes\": [\n      {\n        \"provider\": {\n          \"name\": \"Guardarian\",\n          \"identifier\": \"guardarian\",\n          \"icon\": \"https://d31sk3i6y53c7h.cloudfront.net/assets/providers/guardarian.svg\"\n        },\n        \"exchange_rate\": 93023.26,\n        \"is_best\": true,\n        \"asset\": {\n          \"fiat\": \"CHF\",\n          \"fiat_amount\": 350,\n          \"crypto\": \"BTC\",\n          \"network\": \"BTC\",\n          \"crypto_amount\": 0.0037606,\n          \"payment_method\": \"credit_debit_card\"\n        },\n        \"quote_amount\": 0.0037606,\n        \"link\": \"https://payments.guardarian.com?api_key=032bd046-d5b9-436a-b5f5-fb3e7efd8786&from_currency=CHF&to_currency=BTC&to_network=BTC&payment_category=VISA_MC&from_amount=350&redirects_successful=https%3A%2F%2Forki-money.vercel.app&redirects_failed=https%3A%2F%2Forki-money.vercel.app&redirects_cancelled=https%3A%2F%2Forki-money.vercel.app\",\n        \"is_supported\": true,\n        \"widget\": null,\n        \"percentage_diff\": 0\n      },\n      {\n        \"provider\": {\n          \"name\": \"Coinify\",\n          \"identifier\": \"coinify\",\n          \"icon\": \"https://d31sk3i6y53c7h.cloudfront.net/assets/providers/coinify.svg\"\n        },\n        \"exchange_rate\": 93085.11,\n        \"is_best\": false,\n        \"asset\": {\n          \"fiat\": \"CHF\",\n          \"fiat_amount\": 350,\n          \"crypto\": \"BTC\",\n          \"network\": \"mainnet\",\n          \"crypto_amount\": 0.00376,\n          \"payment_method\": \"card\"\n        },\n        ...\n    ]\n  },\n  \"success\": true,\n  \"code\": 200\n}"
                }
              }
            }
          }
        },
        "tags": [
          "Quotes API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fiat_currency": {
                    "type": "string",
                    "description": "The fiat currency.",
                    "example": "EUR",
                    "nullable": false
                  },
                  "crypto_currency": {
                    "type": "string",
                    "description": "The cryptocurrency.",
                    "example": "BTC",
                    "nullable": false
                  },
                  "payment_method": {
                    "type": "string",
                    "description": "The payment method.",
                    "example": "credit_debit_card",
                    "nullable": false
                  },
                  "network": {
                    "type": "string",
                    "description": "The network.",
                    "example": "mainnet",
                    "nullable": false
                  },
                  "amount": {
                    "type": "number",
                    "description": "The amount.",
                    "example": 80,
                    "nullable": false
                  }
                },
                "required": [
                  "fiat_currency",
                  "crypto_currency",
                  "payment_method",
                  "network",
                  "amount"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/quotes/selected": {
      "patch": {
        "summary": "",
        "operationId": "patchApiV1MerchantQuotesSelected",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "msg": "Success",
                    "data": null,
                    "success": true,
                    "code": 200
                  },
                  "properties": {
                    "msg": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "string",
                      "example": null
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Quotes API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "",
                    "example": "sint",
                    "nullable": false
                  },
                  "request_id": {
                    "type": "string",
                    "description": "",
                    "example": "tempora",
                    "nullable": false
                  }
                },
                "required": [
                  "provider",
                  "request_id"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/defaults": {
      "get": {
        "summary": "",
        "operationId": "getApiV1Defaults",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-ORKI-API-KEY",
            "description": "",
            "example": "string required The API key for authentication.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "tags": [
          "Quotes API"
        ]
      }
    },
    "/api/v1/merchant/providers": {
      "get": {
        "summary": "",
        "operationId": "getApiV1MerchantProviders",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "{\n    \"msg\": \"Success\",\n    \"data\": [\n        {\n            \"name\": \"Transak\",\n            \"orki_id\": \"transak\",\n            \"logo\": \"https://d31sk3i6y53c7h.cloudfront.net/assets/providers/transak.svg\"\n        },\n        {\n            \"name\": \"Moon Pay\",\n            \"orki_id\": \"moonpay\",\n            \"logo\": \"https://d31sk3i6y53c7h.cloudfront.net/assets/providers/moonpay.svg\"\n        },\n        ...\n    ],\n    \"success\": true,\n    \"code\": 200\n}"
                }
              }
            }
          }
        },
        "tags": [
          "Utility"
        ]
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ORKI-API-KEY"
      }
    }
  }
}